.App {
  text-align: center;
}
.candidate-css{
  display:flex;
  font-size:2.5rem;

  margin-top: 2rem;
} 
.radio-buttons{
  display: flex;
}
.button {
  background-color: #45D4FF;
  /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  height: 10px;

      width: 4rem;
        height: 2rem;
}
.button2 {
  border-radius: 4px;

      width: 4rem;
        height: 2rem;
}
.table-component-input-row{

  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.table-component-radio-row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  margin-right: 10rem;
}
.add-new-candidate{
  margin-top: 2rem;
display: flex;
font-size: 2.5rem;
  margin-bottom: 2rem;
}
#dataTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;

  font-size: 12px;
}

#dataTable td,
#dataTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dataTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#dataTable tr:hover {
  background-color: #ddd;
}

#dataTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
  font-size: 12px;
}
.search-component{
  border-width: 0px;
    border: none;
    outline: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
